# =========================
# Build Folders
# =========================
bin/
obj/
out/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider / VSCode
.vscode/
.idea/

# =========================
# Publish Folder
# =========================
publish/
wwwroot/lib/

# =========================
# Logs
# =========================
*.log

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Secrets & Config
# =========================
appsettings.Development.json
appsettings.Local.json
secrets.json

# =========================
# SQL & Local DB
# =========================
*.mdf
*.ldf



# =========================
# Docker
# =========================
docker-compose.override.yml

# =========================
# Node Modules (if any frontend)
# =========================
node_modules/

# =========================
# Test Results
# =========================
TestResults/
coverage/

# =========================
# Ignore Specific Project
# =========================
# Example: Ignore whole project folder
MyProjectToIgnore/

# Ignore specific file
SensitiveFile.cs
.vs
Services.MlTainingProject/
